body {
font-family: 'Roboto' , sans-serif;    
margin: 0 auto;    
background-image: url(/img/background\ 1.png);
background-repeat: no-repeat;
background-size: cover;
width: 1030px;
height: 768px;
}

a {
text-decoration: none;
cursor: pointer;
}

.header__box {
display: flex;
justify-content: space-between;
align-items: center;
height: 61px;
margin-bottom: 20px;

}

.header__logo {
display: flex;
justify-content: space-between;
}

.header__logo-img {
height: 47px;
width: 53px;
margin-right:10px;
background-image: url(/img/logo\ 3.svg);
transition: 0.3s;
}

.header__logo-img:hover {
background-image: url(/img/logo\ 2.svg);
}

.header__logo-text {    
display: flex;
flex-direction: column;
justify-content: center;
font-size: 18px;
font-weight:700;
line-height: 22px;
color: #fff;
transition: 0.5s;
}

.header__logo-text:hover {
color: 
#F26522;
}

.header__logo__1word {
font-size: 29px;
line-height: 29px;
}

.header__contacts {
display: flex;
flex-direction: column;
justify-content: space-between;
}
.header__contacts>a {
color: #fff;
font-size: 18px;
line-height: 34px;
}

.plates__box {
display: grid;
grid-template-columns: repeat(3,1fr);
grid-template-rows: auto;
justify-content: center;
text-align: center;
gap:37px  53px;
}


.plates__link {
font-size: 18px;
font-weight: 400;
line-height: 18px;
color: #fff;
}

footer {
    margin-top: 60px;
    display: flex;
    justify-content: center;
}
footer>span {
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: #FFFFFF;
}
a {
transition: 0.5s;
}

a:hover {
color: #F26522;
}
.plates__link {
position: relative;
}

.item-hover {
position: absolute;
height: 60px;
width: 306px;
bottom: -10px;
opacity: 0;
transition:all .3s ease-in-out;
}
.plates__items:hover .item-hover {
opacity: 1;
transform: translateY(-33px);
background-color: #F26522;
color:#fff ;
}

.plate__hover__desc1 {
    position: absolute;
    left: 21px;
    top: 11px;
    font-weight: 400;
    font-size: 10px;
    line-height: 10px;
}
.plate__hover__desc2{
    position: absolute;
    left: 21px;
    top: 27px;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;   
}
.plate__hover__desc3 {
    position: absolute;
    left: 185px;
    top: 30px;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
}
.vect::after {
    content:"";
    width: 10px;
    height: 10px;
    border-bottom: 3px solid white;
    border-left: 3px solid white;
    position: absolute;
    left: 279px;
    top: 35px;
    transform: translateY(-50%) rotate(225deg);    
}